<!DOCTYPE html>
<html lang="ru">
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script type="module" src="./public/scripts/timer.js"></script>
  <script type="module" src="./public/scripts/forms.js"></script>
  <script type="module" src="./public/scripts/stylesheets.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
  {{!-- TODO --}}
  <div class="welcome">
    <div class="flex-1">
      <div class="heart-container">
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>


        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
      </div>
    </div>
    <div class="flex-1 w-5"></div>
    <div class="h-full my-auto">
      <!-- This item will not shrink below its initial size-->
      <div class="container mx-auto justify-center" style="position: relative;">
        <div class="envelope neomorfic">
          <input class="envelope__check" style="z-index: 1001;" type="checkbox" />
          <div class="stamp_div">
            <img class="stamp_img" src="./public/assets/printing.png">
          </div>
          </input>
          <div class="envelope__flap envelope__flap--inside"></div>
          <div class="envelope__flap"></div>
          <div class="envelope__letter">
            <div class="letter">
              <!-- <div class="letter__content">
                 <link rel="import" href=".html">
              </div> -->
            </div>
          </div>
          <div class="envelope__back"></div>
        </div>
      </div>
    </div>
    <div class="flex-1 w-5"></div>
    <div class="flex-1">
      <!-- This item will grow or shrink as needed -->
      <div class="heart-container place-items-end justify-items-end">
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>

        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
      </div>
    </div>
  </div>
  <main class="flex flex-col items-center mx-auto justify-center mt-5 mb-64 sm:w-full md:w-4/6">
    <div class="section section--type-second section--collage overflow-hidden pt-0 pb-0 p-0">
      <div class="md:flex">
        <div class="md:w-7/12"> <img class="h-full w-30 object-cover md:h-full" src="./public/assets/collage.png" />
        </div>
        <div class="flex flex-col place-items-center justify-center md:w-5/12 mt-4">
          <div class="section__header flex flex-row items-center"> Мария & Андрей </div>
          <div class="section__header flex flex-row items-center"> 16 августа 2025 </div>
        </div>
      </div>
    </div>
    <section class="section section--type-first section--hello">
      <div class="section__header mt-5 ">
        {{#if (same user.sex 'm')}} Дорогой
        {{else if (same user.sex 'f')}} Дорогая
        {{else}} Дорогой/Дорогая
        {{/if}}
        {{#if user.name}} {{user.name}}
        {{else}} Гость
        {{/if}}
      </div>
      <div class="section__subtitle mb-5">
        Давно ждали момента, когда сможем разделить с Вами самый важный и счастливый день в нашей жизни. Совсем скоро
        состоится наша свадьба! Мы рады пригласить вас стать свидетелем этого торжества и провести с нами этот
        прекрасный
        день!
      </div>
    </section>

    <section class="section section--type-second section--calendar">
      <div class="flex flex-col md:flex-row justify-between">
        <div class="flex flex-col">
          <div class="timer__header section__header mx-3 mb-3 mt-3">
            До нашего торжества осталось:
          </div>
          <div class="timer__wrapper mx-auto mb-6">
            <div class="timer">
              <div class="timer__item timer__days">00</div>
              <div class="separator">:</div>
              <div class="timer__item timer__hours">00</div>
              <div class="separator">:</div>
              <div class="timer__item timer__minutes">00</div>
              <div class="separator">:</div>
              <div class="timer__item timer__seconds">00</div>
            </div>
          </div>
        </div>
        <div class="calendar__wrapper w-full md:h-full md:w-1/2">
          <img class="calendar" src="./public/assets/calendar.png">

          {{!-- <div class="calendar__header">
            A U G U S T
          </div>
          <div class="calendar calendar--1">
            <div>1</div>
            ...
            <div>31</div>
          </div> --}}
        </div>
      </div>
    </section>

    <div
         class=" section section--type-second section--collage mx-auto max-w-md overflow-hidden md:max-w-7xl pt-0 pb-0 p-0">
      <div class=" section__header md:flex">
        Место проведения: Openhouse
      </div>
    </div>
    <div class=" section section--type-second section--collage mx-auto max-w-md overflow-hidden md:max-w-7xl pt-0 pb-0">
      <div class="md:flex pl-5 pr-5">
        <div class="md:w-6/12">
          <img class="h-full w-30 object-cover md:h-full" src="./public/assets/place.webp" />
        </div>
        <div class="flex flex-col place-items-center justify-center md:w-6/12">
          <div class="h-full w-full object-cover md:h-full" style="position:relative;overflow:hidden;"><a
               href="https://yandex.ru/maps/org/openhouse/186535918791/?utm_medium=mapframe&utm_source=maps"
               style="color:#eee;font-size:12px;position:absolute;top:0px;">Openhouse</a><a
               href="https://yandex.ru/maps/9/lipetsk/category/restaurant/184106394/?utm_medium=mapframe&utm_source=maps"
               style="color:#eee;font-size:12px;position:absolute;top:14px;">Ресторан в Липецке</a><a
               href="https://yandex.ru/maps/9/lipetsk/category/conference_and_meeting_hall/51258116372/?utm_medium=mapframe&utm_source=maps"
               style="color:#eee;font-size:12px;position:absolute;top:28px;">Конференц-зал в Липецке</a><iframe
                    src="https://yandex.ru/map-widget/v1/?ll=39.594847%2C52.588117&mode=poi&poi%5Bpoint%5D=39.593906%2C52.588616&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D186535918791&z=17.19"
                    width="100%" height="100%" frameborder="1" allowfullscreen="true"
                    style="position:relative;"></iframe>
          </div>
        </div>
      </div>
    </div>

    <section class="section section--type-first section--dresscode pl-5 pr-5">
      <div class="section__header mt-5 ">
        Дресс-код
      </div>
      <div class="section__subtitle mb-5  pl-5 pr-5">
        Мы много старались для того, чтобы этот праздник был очень красивым, поэтому с большим трепетом относимся ко
        всем деталям.
        Поддержите нас вашими улыбками и объятиями, а также красивыми нарядами в палитре торжества:
      </div>
      <div class="section__subtitle mb-5 flex flex-col">
        {{!-- <div class="h-16 grid grid-cols-7 mr-5">
          <div class="rounded-full h-10 w-10" style="background-color:rgb(11, 10, 10);"></div>
          <div class="rounded-full h-10 w-10" style="background-color: rgb(107, 9, 8);"></div>
          <div class="rounded-full h-10 w-10" style="background-color: rgb(214, 214, 214);"></div>
          <div class="rounded-full h-10 w-10" style="background-color: rgb(84, 84, 84);"></div>
          <div class="rounded-full h-10 w-10" style="background-color: rgb(56, 56, 56);"></div>
          <div class="rounded-full h-10 w-10" style="background-color: rgb(183, 162, 142);"></div>
          <div class="rounded-full h-10 w-10" style="background-color:  rgb(126, 84, 65) ;"></div>
        </div> --}}
        <div class="h-32 grid grid-cols-7">
          <div class="w-16" style="background-color:rgb(11, 10, 10);"></div>
          <div class="w-16" style="background-color: rgb(107, 9, 8);"></div>
          <div class="w-16" style="background-color: rgb(214, 214, 214);"></div>
          <div class="w-16" style="background-color: rgb(84, 84, 84);"></div>
          <div class="w-16" style="background-color: rgb(56, 56, 56);"></div>
          <div class="w-16" style="background-color: rgb(183, 162, 142);"></div>
          <div class="w-16" style="background-color:  rgb(126, 84, 65);"></div>
        </div>
      </div>



      <div class="flex flex-col place-items-center justify-between md:w-7/12 mt-4">
        <div class="flex flex-col md:w-1/12">
          <div class="section__header place-items-center mb-5">
            <img class="h-full w-10 object-cover md:h-full" src="./public/assets/black-heart-empty.png" />
          </div>
        </div>
        <div class="flex flex-col md:w-10/12">
          <div class="section__subtitle mb-5">
            Для джентльменов уместным будет классический костюм.
            Для дам просьба воздержаться от белого цвета в образе.
          </div>
        </div>
        <div class="flex flex-col md:w-1/12">
          <div class="section__header place-items-center mt-5 mb-5">
            <img class="h-full w-10 object-cover md:h-full" src="./public/assets/black-heart-empty.png" />
          </div>
        </div>
      </div>

      {{!-- <div class="section__subtitle mb-5  pl-5 pr-5">
        Для джентльменов уместным будет классический костюм.
        Для дам просьба воздержаться от белого цвета в образе.

      </div> --}}
      </div>
    </section>

    {{#unless user.invited}}
      <section id="accept-invite-section" class="section section--type-second section--accept-invite container flex justify-center w-full px-40 pt-10 mx-auto">
        <form id="accept-invite" class="mb-12" method="post">
          <p class="section__header mt-3 mb-6">Вы придете? Мы будем.</p>

          {{!-- <div class="form-body form-body--accept-invite mb-6">
          <div class="form-body__field pb-6">
            <label class="form-body__label" for="phone">Укажите </label>
            <input class="form-body__input--text" type="text" name="phone" id="phone">
          </div>
        </div> --}}

          <button class="button">Я тоже буду!</button>
        </form>
      </section>
    {{/unless}}

    <div id="after-invitation" {{#unless user.invited}}class="hidden" {{/unless}}>
      <section class="section section--type-first pl-5 pr-5">
        <div
             class=" section section--type-first section--collage mx-auto max-w-md overflow-hidden md:max-w-7xl pt-0 pb-0 p-0">
          <div class="md:flex">
            <div class="md:w-5/12"> <img class="h-full w-30 object-cover md:h-full" src="./public/assets/duet.png" />
            </div>
            <div class="flex flex-col place-items-center justify-between md:w-7/12 mt-4">
              <div class="flex flex-col md:w-1/12">
                <div class="section__header place-items-center mb-5">
                  <img class="h-full w-10 object-cover md:h-full" src="./public/assets/black-heart-empty.png" />
                </div>
              </div>
              <div class="flex flex-col md:w-10/12">
                <div class="section__header mb-5">
                  Примерная программа дня
                </div>
                <div class="flex flex-row justify-between">
                  <div class="section__subtitle mr-4"> 15:30 </div>
                  <div class="section__subtitle ml-4 place-items-end">
                    <div> Сбор гостей </div>
                  </div>
                </div>
                <hr class="accent mt-3 mb-3" />
                <div class="flex flex-row justify-between">
                  <div class="section__subtitle mr-4"> 16:00 </div>
                  <div class="section__subtitle ml-4 place-items-end">
                    <div> Выездная церемония </div>
                  </div>
                </div>
                <hr class="accent mt-3 mb-3" />
                <div class="flex flex-row justify-between">
                  <div class="section__subtitle mr-4"> 16:30 </div>
                  <div class="section__subtitle ml-4 place-items-end">
                    <div> Начало банкета </div>
                  </div>
                </div>
                <hr class="accent mt-3 mb-3" />
                <div class="flex flex-row justify-between">
                  <div class="section__subtitle mr-4"> 18:00 </div>
                  <div class="section__subtitle ml-4 place-items-end">
                    <div> Первый танец </div>
                  </div>
                </div>
                <hr class="accent mt-3 mb-3" />
                <div class="flex flex-row justify-between">
                  <div class="section__subtitle mr-4"> 21:00 </div>
                  <div class="section__subtitle ml-4 place-items-end">
                    <div> Торт </div>
                  </div>
                </div>
                <hr class="accent mt-3 mb-3" />
                <div class="flex flex-row justify-between">
                  <div class="section__subtitle mr-4"> 23:00 </div>
                  <div class="section__subtitle ml-4 place-items-end">
                    <div> Конец торжества </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-col md:w-1/12">
                <div class="section__header place-items-center mt-5 mb-5">
                  <img class="h-full w-10 object-cover md:h-full" src="./public/assets/black-heart-empty.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section--type-second">
        <div class="section__header mt-5 ">
          Подарки
        </div>
        <div class="section__subtitle mb-5">
          Главное для нас - ваше внимание, а ваши пожелания в конверте будут лучшим подарком, который поможет исполнить
          наши мечты
          Мы очень любим совместный досуг, особенно, если он помогает саморазвитию. Если вы планировали подарить букет,
          то
          в качестве альтернативы мы были бы очень рады сертификату на мастер-класс на ваш выбор.
        </div>
        <div class="flex flex-col md:w-1/12">
          <div class="section__header place-items-center flex flex-row mt-5 mb-5">
            <img class="h-full w-15 object-cover place-items-center md:h-full" src="./public/assets/white-heart.png" />
          </div>
        </div>
      </section>
      <section class="section section--type-first pl-5 pr-5">
        <div
             class=" section section--type-first section--collage mx-auto max-w-md overflow-hidden md:max-w-7xl pt-0 pb-0 p-0">
          <div class="md:flex">
            <div class="flex flex-col place-items-center justify-between md:w-7/12 mt-4">
              <div class="flex flex-col md:w-10/12">
                <div class="section__header mb-5">
                  Контакты
                </div>
                <div class="section__subtitle place-items-center">
                  <div> Для удобства коммуникации мы решили создать для всех гостей <a class="accent-text"
                       href="#">общий чат</a>, в котором будут
                    публиковаться обновления пригласительного. Вы можете задавать вопросы в этом чате, а также загружать
                    туда фотографии, сделанные до или во время свадьбы.
                  </div>
                </div>
              </div>
              <div class="flex flex-col md:w-1/12">
                <div class="section__header place-items-center mt-5 mb-5">
                  <img class="h-full w-10 object-cover md:h-full" src="./public/assets/black-heart-empty.png" />
                </div>
              </div>
              {{!-- Если у вас возникнут вопросы, можете обратиться к нашему организатору – Валентине +7 950 800 9586 --}}
              <div class="section__subtitle ml-4 place-items-center">
                <div>
                  Если у вас возникнут вопросы, можете обратиться к нашему организатору – Валентине
                </div>
              </div>
              <div class="flex flex-col md:w-1/12">
                <div class="section__header place-items-center mt-5 mb-5">
                  <img class="h-full w-10 object-cover md:h-full" src="./public/assets/black-heart-empty.png" />
                </div>
              </div>
              <div class="section__subtitle ml-4 place-items-center">
                <div>+7 950 800 9586
                </div>
              </div>

            </div>
            <div class="md:w-5/12"> <img class="h-full w-30 object-cover md:h-full" src="./public/assets/photo4.png" />
            </div>
          </div>
        </div>
      </section>
      <section class="section section--type-first">
        <div class="section__header mt-5 accent-text">
          Ваши Мария и Андрей
        </div>
        <div class="flex flex-col md:w-1/12">
          <div class="section__header place-items-center flex flex-row mt-5 mb-5">
            <img class="h-full w-15 object-cover place-items-center md:h-full" src="./public/assets/red-heart.png" />
          </div>
        </div>
      </section>
    </div>
  </main>
</body>

</html>