<!DOCTYPE html>
<html lang="ru">
    <html>
<head>
    <link rel="stylesheet" type="text/css" href="./dist/front/output.css">
</head>

<body>
<div class="envelope">
  
  <input class="envelope__check" style="z-index: 1001;" type="checkbox"/>
      <div class="stamp_div">
        <img class="stamp_img" src="src/assets/printing.png">
      </div>
    </input>
    <div class="envelope__flap envelope__flap--inside"></div>
    <div class="envelope__flap"></div>
    <div class="envelope__letter">
      <div class="letter" >
        <!-- <div class="letter__content">
        </div> -->
      </div>
    </div>
    <div class="envelope__back"></div>
  
  </div>
  </body>
</html>
