<!DOCTYPE html>
<html lang="ru">
<html>

<head>
  <link rel="stylesheet" type="text/css" href="./public/stylesheets/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  {{!-- TODO --}}
  <div class="welcome">
    <div class="grid grid-cols-5 grid-flow-row gap-4 justify-items-start">
      <div>
        <div class="grid grid-flow-col auto-cols-max place-items-start">
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
        </div>
        <div class="grid grid-flow-col auto-cols-max place-items-start">
          <div class="grid grid-flow-row auto-rows-max"><img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
        </div>
        <div class="grid grid-flow-col auto-cols-max place-items-start">
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
        </div>
        <div class="grid grid-flow-col auto-cols-max place-items-start">
          <div class="grid grid-flow-row auto-rows-max"><img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>

          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>

          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
        </div>
        <div class="grid grid-flow-col auto-cols-max place-items-start">
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>

          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>

          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
        </div>
        <div class="grid grid-flow-col auto-cols-max place-items-start">
          <div class="grid grid-flow-row auto-rows-max"><img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>

          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
          <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
          </div>
        </div>
        <!-- <div class="place-items-start red-heart"><img class="stamp_img" src="./public/assets/red-heart.png"></div>
    <div class="place-items-start red-heart"><img class="stamp_img" src="./public/assets/red-heart.png"></div>
    <div class="place-items-start red-heart"><img class="stamp_img" src="./public/assets/red-heart.png"></div>
    <div class="place-items-start red-heart"><img class="stamp_img" src="./public/assets/red-heart.png"></div>
    <div class="place-items-start red-heart"><img class="stamp_img" src="./public/assets/red-heart.png"></div> -->
      </div>

      <div class="free-place"></div>

      <div class="container mx-auto px-4" style="position:relative;">
        <div class="envelope neomorfic">
          <input class="envelope__check" style="z-index: 1001;" type="checkbox" />
          <div class="stamp_div">
            <img class="stamp_img" src="./public/assets/printing.png">
          </div>
          </input>
          <div class="envelope__flap envelope__flap--inside"></div>
          <div class="envelope__flap"></div>
          <div class="envelope__letter">
            <div class="letter">
              <!-- <div class="letter__content">
                 <link rel="import" href=".html">
              </div> -->
            </div>
          </div>
          <div class="envelope__back"></div>
        </div>
      </div>
    </div>

    <div class="free-place"></div>

    <div>
      <div class="grid grid-flow-col auto-cols-max place-items-end justify-items-end">
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
      </div>
      <div class="grid grid-flow-col auto-cols-max place-items-end justify-items-end">
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
      </div>
      <div class="grid grid-flow-col auto-cols-max place-items-end justify-items-end">
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
      </div>
      <div class="grid grid-flow-col auto-cols-max place-items-end justify-items-end">
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
      </div>
      <div class="grid grid-flow-col auto-cols-max place-items-end justify-items-end">
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
      </div>
      <div class="grid grid-flow-col auto-cols-max place-items-end justify-items-end">
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
        <div class="grid grid-flow-row auto-rows-max"> <img class="stamp_img" src="./public/assets/red-heart.png">
        </div>
      </div>
      <!-- <div class="place-items-end red-heart"></div>
      <div class="place-items-end red-heart"></div>
      <div class="place-items-end red-heart"></div>
      <div class="place-items-end red-heart"></div> -->
    </div>
  </div>
  <div class="container flex justify-center w-full px-40 pt-10 mx-auto">

    <form class="section section--accept-invite" action="accept-invite" method="post">
      <p class="section__header mb-6">Вы придете?</p>

      <p class="section__subtitle mb-6">какой-то уважительный текст который тяжело читать в этом шрифте на этом
        фоне</p>

      <div class="form-body form-body--accept-invite mb-6">
        <div class="form-body__field pb-6">
          <label class="form-body__label" for="phone">Вроде тут телефон</label>
          <input class="form-body__input--text" type="text" name="phone" id="phone">
        </div>
      </div>

      <button class="general">Я буду!</button>
    </form>
  </div>
</body>

</html>