<!DOCTYPE html>
<html lang="ru">
<html>

<head>
  <link rel="stylesheet" type="text/css" href="./public/stylesheets/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
  {{!-- TODO --}}
  <div class="welcome">
    <div class="flex-1">
      <div class="heart-container">
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>


        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
      </div>
    </div>
    <div class="flex-1 w-5"></div>
    <div class="h-full my-auto">
      <!-- This item will not shrink below its initial size-->
      <div class="container mx-auto justify-center" style="position: relative;">
        <div class="envelope neomorfic">
          <input class="envelope__check" style="z-index: 1001;" type="checkbox" />
          <div class="stamp_div">
            <img class="stamp_img" src="./public/assets/printing.png">
          </div>
          </input>
          <div class="envelope__flap envelope__flap--inside"></div>
          <div class="envelope__flap"></div>
          <div class="envelope__letter">
            <div class="letter">
              <!-- <div class="letter__content">
                 <link rel="import" href=".html">
              </div> -->
            </div>
          </div>
          <div class="envelope__back"></div>
        </div>
      </div>
    </div>
    <div class="flex-1 w-5"></div>
    <div class="flex-1">
      <!-- This item will grow or shrink as needed -->
      <div class="heart-container place-items-end justify-items-end">
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>

        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="./public/assets/red-heart.png"></i>
      </div>
    </div>
  </div>
  <main class="flex flex-col items-center mx-auto justify-center sm:w-full md:w-4/6">

    <section class="section section--type-first section--collage">
      <div class="collage__wrapper">
        <img class="collage" src="./public/assets/foto1.png">
      </div>
      <div class="section__header ml-5"> Мария & Андрей <br> 16 августа 2025 </div>
    </section>

    <section class="section section--type-second section--hello">
      <div class="section__header">
        Дорогой/Дорогая <br> [Имя гостя]
      </div>
      <div class="section__subtitle">
        Давно ждали момента, когда сможем разделить с Вами самый важный и счастливый день в нашей жизни. Совсем скоро
        состоится наша свадьба! Мы рады пригласить вас стать свидетелем этого торжества и провести с нами этот
        прекрасный
        день!
      </div>
    </section>

    <section class="section section--type-first section--calendar">
      <div class="flex flex-row justify-between">
        <div class="flex flex-col">
          <div class="section__subtitle mx-auto">
            До нашего торжества осталось
          </div>
        </div>
        <div class="calendar__wrapper">
          <img class="calendar" src="./public/assets/calendar.png">
        </div>
      </div>
    </section>

    <section class="section section--type-second section--place">
      <div class="section__header">
        Место проведения:
      </div>

      <div class="photo">
        <img class="" src="./public/assets/place.webp">
      </div>
      <div class="map">
        <div style="position:relative;overflow:hidden;"><a
             href="https://yandex.ru/maps/org/openhouse/186535918791/?utm_medium=mapframe&utm_source=maps"
             style="color:#eee;font-size:12px;position:absolute;top:0px;">Openhouse</a><a
             href="https://yandex.ru/maps/9/lipetsk/category/restaurant/184106394/?utm_medium=mapframe&utm_source=maps"
             style="color:#eee;font-size:12px;position:absolute;top:14px;">Ресторан в Липецке</a><a
             href="https://yandex.ru/maps/9/lipetsk/category/conference_and_meeting_hall/51258116372/?utm_medium=mapframe&utm_source=maps"
             style="color:#eee;font-size:12px;position:absolute;top:28px;">Конференц-зал в Липецке</a><iframe
                  src="https://yandex.ru/map-widget/v1/?ll=39.594847%2C52.588117&mode=poi&poi%5Bpoint%5D=39.593906%2C52.588616&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D186535918791&z=17.19"
                  width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
        </div>
      </div>
    </section>

    <section class="section section--type-first section--dresscode">
      Мы много старались для того, чтобы этот праздник был очень красивым, поэтому с большим трепетом относимся ко всем
      деталям.
      Поддержите нас вашими улыбками и объятиями, а также красивыми нарядами в палитре торжества:

      ДРЕССКОД ПАЛИТРА
    </section>

    <section class="section section--type-second section--accept-invite container flex justify-center w-full px-40 pt-10 mx-auto">
      <form action="accept-invite" method="post">
        <p class="section__header mb-6">Вы придете?</p>

        <p class="section__subtitle mb-6">какой-то уважительный текст который тяжело читать в этом шрифте на этом
          фоне</p>

        <div class="form-body form-body--accept-invite mb-6">
          <div class="form-body__field pb-6">
            <label class="form-body__label" for="phone">Вроде тут телефон</label>
            <input class="form-body__input--text" type="text" name="phone" id="phone">
          </div>
        </div>

        <button class="general">Я буду!</button>
      </form>
    </section>

  </main>
</body>

</html>