<!DOCTYPE html>
<html lang="ru">
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script type="module" src="/public/scripts/timer.js"></script>
  <script type="module" src="/public/scripts/forms.js"></script>
  <script type="module" src="/public/scripts/dresscode.js"></script>

  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script type="module" src="/public/scripts/stylesheets.js"></script>
</head>

<body>
  {{!-- TODO --}}
  <div id="welcome-page" class="welcome">
    <div class="flex-1">
      <div class="heart-container">
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>


        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
      </div>
    </div>
    <div class="flex-1 w-5"></div>
    <div class="h-full flex justify-center items-center">
      <!-- This item will not shrink below its initial size-->
      <div class="container mx-auto my-auto justify-center" style="position: relative;">
        <div class="envelope neomorfic">
          <input id="envelope-check" class="envelope__check" style="z-index: 1001;" type="checkbox" />
          <div class="stamp_div">
            <img class="stamp_img" src="/public/assets/printing.png">
          </div>
          </input>
          <div class="envelope__flap envelope__flap--inside"></div>
          <div class="envelope__flap"></div>
          <div class="envelope__letter">
            <div class="letter">
              <!-- <div class="letter__content">
                 <link rel="import" href=".html">
              </div> -->
            </div>
          </div>
          <div class="envelope__back"></div>
        </div>
      </div>
    </div>
    <div class="flex-1 w-5"></div>
    <div class="flex-1">
      <!-- This item will grow or shrink as needed -->
      <div class="heart-container place-items-end justify-items-end">
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>

        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
        <i class="fas fa-heart"><img class="stamp_img max-h-4" src="/public/assets/red-heart.png"></i>
      </div>
    </div>
  </div>
  <main id="main-page" class="flex flex-col items-center mx-auto justify-center mb-64 sm:w-full md:w-4/6">
    <div class="section section--type-second section--collage overflow-hidden pt-0 pb-0 p-0">
      <div class="md:flex">
        <div class="md:w-7/12" style="display: flex; min-height: auto; align-self: flex-start;"> <img class="h-full w-30 object-cover md:h-full" src="./public/assets/collage.jpg" />
        </div>
        <div class="flex flex-col place-items-center justify-center md:w-5/12 mt-4">
          <div class="section__header flex flex-row items-center"> Мария & Андрей </div>
          <div class="section__subtitle-cormorant flex flex-row items-center data-header-size"> 16 августа 2025 </div>
        </div>
      </div>
    </div>
    <section class="section section--type-first section--hello">
      <div class="section__header mt-5 ">
        {{#if (same user.sex 'm')}} Дорогой
        {{else if (same user.sex 'f')}} Дорогая
        {{else}} Дорогой/Дорогая
        {{/if}}
        {{#if user.name}} {{user.name}}
        {{else}} Гость
        {{/if}}
      </div>
      <div class="section__subtitle mb-5">
        Давно ждали момента, когда сможем разделить с Вами самый важный и счастливый день в нашей жизни. Совсем скоро
        состоится наша свадьба! Мы рады пригласить вас стать свидетелем этого торжества и провести с нами этот
        прекрасный
        день!
      </div>
    </section>

    <section class="section section--type-second section--calendar">
      <div class="flex flex-col md:flex-row justify-between">
        <div class="flex flex-col">
          <div class="timer__header section__header mx-3 mb-3 mt-3">
            <div class="section__subtitle-cormorant flex flex-row items-center">До нашего торжества осталось:</div>
          </div>
          <div class="timer__wrapper mx-auto mb-6">
            <div class="timer">
              <div class="timer__item timer__days">00</div>
              <div class="separator">:</div>
              <div class="timer__item timer__hours">00</div>
              <div class="separator">:</div>
              <div class="timer__item timer__minutes">00</div>
              <div class="separator">:</div>
              <div class="timer__item timer__seconds">00</div>
            </div>
          </div>
        </div>
        <div class="calendar__wrapper w-full md:h-full md:w-1/2">
          <img class="calendar" src="/public/assets/calendar.png">

          {{!-- <div class="calendar__header">
            A U G U S T
          </div>
          <div class="calendar calendar--1">
            <div>1</div>
            ...
            <div>31</div>
          </div> --}}
        </div>
      </div>
    </section>
    <section class="section section--type-first section--delimiter"></section>
    <div class=" section section--type-second section--collage pt-0 pb-0 p-0">
      <div class=" section__header md:flex pt-2">
        Место проведения: Openhouse
      </div>
    </div>
    <div class=" section section--type-second section--collage pt-0 pb-5 md:pb-0">
      <div class="md:flex pl-5 pr-5 pb-5 md:pb-0">
        <div class="md:w-6/12 mb-5 md:mb-0" style="display: flex; min-height: auto; align-self: flex-start;">
          <img class="h-full w-30 object-cover md:h-full" src="./public/assets/place.webp" />
        </div>
        <div class="flex flex-col place-items-center justify-center md:w-6/12">
          <div class="h-full w-full object-cover md:h-full" style="position:relative;overflow:hidden;"><a
               href="https://yandex.ru/maps/org/openhouse/186535918791/?utm_medium=mapframe&utm_source=maps"
               style="color:#eee;font-size:12px;position:absolute;top:0px;">Openhouse</a><a
               href="https://yandex.ru/maps/9/lipetsk/category/restaurant/184106394/?utm_medium=mapframe&utm_source=maps"
               style="color:#eee;font-size:12px;position:absolute;top:14px;">Ресторан в Липецке</a><a
               href="https://yandex.ru/maps/9/lipetsk/category/conference_and_meeting_hall/51258116372/?utm_medium=mapframe&utm_source=maps"
               style="color:#eee;font-size:12px;position:absolute;top:28px;">Конференц-зал в Липецке</a><iframe
                    src="https://yandex.ru/map-widget/v1/?ll=39.594847%2C52.588117&mode=poi&poi%5Bpoint%5D=39.593906%2C52.588616&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D186535918791&z=17.19"
                    width="100%" height="100%" frameborder="1" allowfullscreen="true"
                    style="position:relative;"></iframe>
          </div>
        </div>
      </div>
    </div>

    <section class="section section--type-first section--dresscode pl-5 pr-5">
      <div class="section__header mt-5 ">
        Дресс-код
      </div>
      <div class="section__subtitle mb-5  pl-5 pr-5">
        Мы много старались для того, чтобы этот праздник был очень красивым, поэтому с большим трепетом относимся ко
        всем деталям.
        Поддержите нас вашими улыбками и объятиями, а также красивыми нарядами в палитре торжества
      </div>

      <div class="material-color-picker w-8/12 md:w-6/12">
        <div class="material-color-picker__left-panel">
          <ol class="color-selector" data-bind="foreach: materialColors">
            <li id="main-color-pick-element">
              <input name="material-color" type="radio"
                     data-bind="attr: { id: 'materialColor' + $index() }, checked: $parent.selectedColor, value: name">
              <label
                     data-bind="attr: { for: 'materialColor' + $index(), title: $data.name }, style: { 'color': color }"></label>
            </li>
          </ol>
        </div>
        <div class="material-color-picker__right-panel" data-bind="foreach: materialColors">
          <div class="color-palette-wrapper" data-bind="css: { 'js-active': $parent.selectedColor() === name }">
            <div class="color-palette__item"
                 data-bind="style: { 'background-color': color }">
              <span data-bind="text: name"></span>
              {{!-- <span data-bind="text: color"></span> --}}
            </div>
            <ol class="color-palette" data-bind="foreach: variations">
              <li class="color-palette__item"
                  data-bind="style: { 'background-color': color }">
                <span data-bind="text: name"></span>
                {{!-- <span data-bind="text: color"></span> --}}
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="flex flex-col place-items-center justify-between md:w-7/12 mt-4">
        <div class="flex flex-col md:w-1/12 place-items-center ">
          <div class="h-12 w-12">
            <img src="/public/assets/black-heart-empty.png" class="w-full">
          </div>
        </div>
        <div class="flex flex-col md:w-10/12">
          <div class="section__subtitle mb-5">
            Для джентльменов уместным будет классический костюм.
            <br /><br />
            Для дам просьба воздержаться от белого цвета в образе.
          </div>
        </div>
        <div class="flex flex-col md:w-1/12 place-items-center mb-5">
          <div class="h-12 w-12">
            <img src="/public/assets/black-heart-empty.png" class="w-full">
          </div>
        </div>
      </div>

      {{!-- <div class="section__subtitle mb-5  pl-5 pr-5">
        Для джентльменов уместным будет классический костюм.
        Для дам просьба воздержаться от белого цвета в образе.

      </div> --}}
      </div>
    </section>

    <section
             class="section section--type-second section--delimiter section--accept-invite container flex justify-center w-full px-40 pt-10 mx-auto">
      {{#unless user.invited}}
        <form id="accept-invite-form" class="mb-12" method="post">
          <p class="section__header mt-3 mb-6">Вы придете? Мы будем.</p>

          <button class="button">Я тоже буду!</button>
        </form>
      {{/unless}}
    </section>
    <div id="after-invitation" {{#unless user.invited}}class="hidden" {{/unless}}>
      <section class="section section--type-first pl-5 pr-5">
        <div class=" section section--type-first section--collage pt-0 pb-0 p-0">
          <div class="md:flex">
            <div class="md:w-5/12" style="display: flex; min-height: auto; align-self: flex-start;"> <img class="h-full w-30 object-cover md:h-full" src="./public/assets/duet.jpg" />
            </div>
            <div class="flex flex-col place-items-center justify-between md:w-7/12 mt-4">
              <div class="flex flex-col md:w-1/12 place-items-center ">
                <div class="h-12 w-12">
                  <img src="/public/assets/black-heart-empty.png" class="w-full">
                </div>
              </div>

              <div class="flex flex-col md:w-10/12 mb-3">
                <div class="section__header mb-5">
                  Примерная программа дня
                </div>
                <div class="flex flex-row justify-between">
                  <div class="section__subtitle mr-4"> 15:30 </div>
                  <div class="section__subtitle ml-4 place-items-end">
                    <div> Сбор гостей </div>
                  </div>
                </div>
                <hr class="accent mt-3 mb-3" />
                <div class="flex flex-row justify-between">
                  <div class="section__subtitle mr-4"> 16:00 </div>
                  <div class="section__subtitle ml-4 place-items-end">
                    <div> Выездная церемония </div>
                  </div>
                </div>
                <hr class="accent mt-3 mb-3" />
                <div class="flex flex-row justify-between">
                  <div class="section__subtitle mr-4"> 16:30 </div>
                  <div class="section__subtitle ml-4 place-items-end">
                    <div> Начало банкета </div>
                  </div>
                </div>
                <hr class="accent mt-3 mb-3" />
                <div class="flex flex-row justify-between">
                  <div class="section__subtitle mr-4"> 18:00 </div>
                  <div class="section__subtitle ml-4 place-items-end">
                    <div> Первый танец </div>
                  </div>
                </div>
                <hr class="accent mt-3 mb-3" />
                <div class="flex flex-row justify-between">
                  <div class="section__subtitle mr-4"> 21:00 </div>
                  <div class="section__subtitle ml-4 place-items-end">
                    <div> Торт </div>
                  </div>
                </div>
                <hr class="accent mt-3 mb-3" />
                <div class="flex flex-row justify-between">
                  <div class="section__subtitle mr-4"> 23:00 </div>
                  <div class="section__subtitle ml-4 place-items-end">
                    <div> Конец торжества </div>
                  </div>
                </div>
              </div>

              <div class="flex flex-col md:w-1/12 place-items-center mb-3">
                <div class="h-12 w-12">
                  <img src="/public/assets/black-heart-empty.png" class="w-full">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div id="choose-preferences-wrapper" {{#if user.sentEatPreferences}}class="hidden" {{/if}}>
        <section class="section section--type-second">
          <div class="section__header">Пожалуйста, заполните анкету!</div>
        </section>
        <section class="section section--type-first section--delimiter section--preferences">
          <form id="eat-preferences-form" class="form-body flex flex-col items-center my-6" method="post">
            <div class="section__subtitle-cormorant mb-3">Ваши особые предпочтения по еде</div>
            <div id="food-preferences" class="form-body__field-group flex flex-col w-10/12 md:w-9/12 mb-3">
              <label class="control control-checkbox">
                Вегетарианец (без мяса)
                <input type="checkbox" />
                <div class="control_indicator"></div>
              </label>
              <label class="control control-checkbox">
                Веган (без животных продуктов)
                <input type="checkbox" />
                <div class="control_indicator"></div>
              </label>
              <label class="control control-checkbox">
                Кето-диета
                <input type="checkbox" />
                <div class="control_indicator"></div>
              </label>
              <label class="control control-checkbox">
                Палеодиета
                <input type="checkbox" />
                <div class="control_indicator"></div>
              </label>
              <label class="control control-checkbox">
                Безлактозная диета
                <input type="checkbox" />
                <div class="control_indicator"></div>
              </label>
              <label class="control control-checkbox">
                Безглютеновая диета
                <input type="checkbox" />
                <div class="control_indicator"></div>
              </label>
              <label class="control control-checkbox">
                Аллергия на орехи
                <input type="checkbox" />
                <div class="control_indicator"></div>
              </label>

              <div class="flex flex-col mt-1 w-full">
                <label class="form-body__label--custom-variant whitespace-nowrap mb-2"
                       for="custom_special_food_preferences">
                  Свой вариант:
                </label>
                <input class="form-body__input--text w-full" type="text" name="custom_special_food_preferences">
              </div>
            </div>

            <div class="section__subtitle-cormorant mb-3">Ваши предпочтения по напиткам</div>
            <div id="drinks-preferences" class="form-body__field-group flex flex-col w-10/12 md:w-9/12 mb-6">
              <label class="control control-checkbox">
                Шампанское
                <input type="checkbox" />
                <div class="control_indicator"></div>
              </label>
              <label class="control control-checkbox">
                Вино белое сухое
                <input type="checkbox" />
                <div class="control_indicator"></div>
              </label>
              <label class="control control-checkbox">
                Вино белое полусухое
                <input type="checkbox" />
                <div class="control_indicator"></div>
              </label>
              <label class="control control-checkbox">
                Вино белое полусладкое
                <input type="checkbox" />
                <div class="control_indicator"></div>
              </label>
              <label class="control control-checkbox">
                Вино белое сладкое
                <input type="checkbox" />
                <div class="control_indicator"></div>
              </label>
              <label class="control control-checkbox">
                Вино красное сухое
                <input type="checkbox" />
                <div class="control_indicator"></div>
              </label>
              <label class="control control-checkbox">
                Вино красное полусухое
                <input type="checkbox" />
                <div class="control_indicator"></div>
              </label>
              <label class="control control-checkbox">
                Вино красное полусладкое
                <input type="checkbox" />
                <div class="control_indicator"></div>
              </label>
              <label class="control control-checkbox">
                Вино красное сладкое
                <input type="checkbox" />
                <div class="control_indicator"></div>
              </label>
              <label class="control control-checkbox">
                Виски/коньяк
                <input type="checkbox" />
                <div class="control_indicator"></div>
              </label>
              <label class="control control-checkbox">
                Водка
                <input type="checkbox" />
                <div class="control_indicator"></div>
              </label>
              <label class="control control-checkbox">
                Безалкогольные напитки
                <input type="checkbox" />
                <div class="control_indicator"></div>
              </label>

              <div class="flex flex-col mt-1 w-full">
                <label class="form-body__label--custom-variant whitespace-nowrap mb-2"
                       for="custom_special_food_preferences">
                  Свой вариант:
                </label>
                <input class="form-body__input--text w-full" type="text" name="custom_special_food_preferences">
              </div>
            </div>

            <button class="button">Отправить</button>
          </form>
        </section>
      </div>

      <section class="section section--type-second">
        <div class="section__header mt-5 ">
          Подарки
        </div>
        <div class="section__subtitle mb-5">
          Главное для нас - ваше внимание, а ваши пожелания в конверте будут лучшим подарком, который поможет
          исполнить
          наши мечты
          Мы очень любим совместный досуг, особенно, если он помогает саморазвитию. Если вы планировали подарить
          букет,
          то
          в качестве альтернативы мы были бы очень рады сертификату на мастер-класс на ваш выбор.
        </div>
        <div class="flex flex-col md:w-1/12">
          <div class="section__header place-items-center flex flex-row mt-5 mb-5">
            <img class="w-14 object-cover place-items-center md:h-full" src="/public/assets/white-heart.png" />
          </div>
        </div>
      </section>
      <section class="section section--type-first pl-5 pr-5">
        <div class=" section section--type-first section--collage pt-0 pb-0 p-0">
          <div class="md:flex">
            <div class="flex flex-col place-items-center justify-between md:w-7/12 mt-4">
              <div class="flex flex-col md:w-10/12">
                <div class="section__header mb-5">
                  Контакты
                </div>
                <div class="section__subtitle place-items-center">
                  <div> Для удобства коммуникации мы решили создать для всех гостей <a class="accent-text"
                       href="https://t.me/+raFSUq8Dmf8xNjNi">общий
                      чат</a>, в котором будут
                    публиковаться обновления пригласительного. Вы можете задавать вопросы в этом чате, а также
                    загружать
                    туда фотографии, сделанные до или во время свадьбы.
                  </div>
                  <div class="flex flex-row justify-between place-items-center mt-4 mb-8">
                    <a class="button button-neo-white button-big md:w-2/6 mr-3"
                       href="https://t.me/+raFSUq8Dmf8xNjNi">Общий чат</a>
                    <a class="button button-neo-white button-big md:w-2/6" title="м?)" id="galleryLink">Галерея</a>
                  </div>
                </div>
              </div>
              <div class="flex flex-col md:w-1/12 place-items-center mb-5">
                <div class="h-12 w-12">
                  <img src="/public/assets/black-heart-empty.png" class="w-full">
                </div>
              </div>
            </div>
            <div class="md:w-7/12" style="display: flex; min-height: auto; align-self: flex-start;"> <img class="h-full w-30 object-cover md:h-full" src="./public/assets/photo4.jpg" />
            </div>
          </div>
        </div>
      </section>

      <section class="section section--type-first">
        <div class="section__header mt-5 ">
          История любви
        </div>
      </section>

<div class="">
<div class="carousel"
  data-flickity='{ "freeScroll": true, "autoPlay": 1500, "pauseAutoPlayOnHover": false }'>
  <div class="carousel-cell"> <img src="/public/assets/Начало отношений.png" class="w-full"> </div>
  <div class="carousel-cell"> <img src="/public/assets/Первый поцелуй.png" class="w-full"></div>
  <div class="carousel-cell"> <img src="/public/assets/Первое путешествие.png" class="w-full"></div>
  <div class="carousel-cell">  <img src="/public/assets/Первая заграница.png" class="w-full"></div>
  <div class="carousel-cell"> <img src="/public/assets/Предложение.png" class="w-full"></div>
</div>
</div>
      <section class="section section--type-second pt-4 pb-4">
        <div class="section__subtitle place-items-center mt-8">
          <div>
            Если у вас возникнут вопросы, можете обратиться к нашему организатору – Валентине
          </div>
        </div>

        <div class="flex flex-col md:w-4/12 mt-3 mb-3 justify-center place-items-center w-64 pt-1 pb-1">
          <img class="round h-full round md:h-full" src="/public/assets/org.jpg" />
        </div>
        <div class="flex flex-col md:w-7/12">
          <div class="flex flex-row justify-between mt-2 mb-2">
            <div class="section__subtitle mr-4 flex flex-col justify-center place-item-center">
              <div> Группа ВКонтакте </div>
            </div>
            <div class="section__subtitle ml-4 place-items-end">
              <a class="round button-contact" href="https://vk.com/club210095480">
                <img class="round button-contact md:h-full" src="/public/assets/картинка вк круглая белый.png" />
              </a>
            </div>
          </div>
          <hr class="accent mt-1 mb-1" />
          <div class="flex flex-row justify-between mt-2 mb-2">
            <div class="section__subtitle mr-4 flex flex-col justify-center place-item-center">
              <div> Страница ВКонтакте </div>
            </div>
            <div class="section__subtitle ml-4 place-items-end">
              <a class="round button-contact" href="https://vk.com/club210095480">
                <img class="round button-contact md:h-full" src="/public/assets/картинка вк круглая белый.png" />
              </a>
            </div>
          </div>
          <hr class="accent mt-1 mb-1" />
          <div class="flex flex-row justify-between mt-2 mb-2">
            <div class="section__subtitle mr-4 flex flex-col justify-center place-item-center">
              <div> Телеграмм </div>
            </div>
            <div class="section__subtitle ml-4 place-items-end">
              <a class="round button-contact" href="https://vk.com/club210095480">
                <img class="round button-contact md:h-full" src="/public/assets/картинка телеграм белый.png" />
              </a>
            </div>
          </div>
          <hr class="accent mt-1 mb-1" />
        </div>

        <div class="section__subtitle mt-2 place-items-center mb-8">
          <div>+7-950-800-9586
          </div>
        </div>

      </section>
      <section class="section section--type-first">
        <div class="section__header mt-5 accent-text">
          Ваши Мария и Андрей
        </div>
        <div class="flex flex-col md:w-1/12">
          <div class="section__header place-items-center flex flex-row mt-5 mb-5" style="max-height:10% max-width:auto">
            <img class="w-14 object-cover place-items-center md:h-full" src="/public/assets/red-heart.png" />
          </div>
      </section>
    </div>
  </main>
</body>

</html>