/* ------- Для форм  */


form {
    @apply flex flex-col items-center;

    .form-body {
        @apply flex flex-col;
    }

    .button {
        border-radius: 40px;
        font-size: 2.2vw;

        width: 70%;
        height: 3.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;

        align-items: center;
        border: none;

        @media (max-width: 768px) {
            font-size: 4.4vw;
        }
    }

    /* .button:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
    } */

    .button:active {
        box-shadow: rgba(45, 35, 66, 0.3) 0 7px 13px -3px inset;
    }

    .section__subtitle-cormorant {
        font-size: 2.5vw !important;
    
        @media (max-width: 768px) {
          font-size: 7.3vw !important;
        }
      }
}

.section--type-first {
    form {
        .button {
            background: var(--accent-color);
            color: white;
        }
    }
}

.section--type-second {
    form {
        .button {
            background: var(--main-theme-color);
            color: black;
        }
    }
}

.form-body__field-group {
    @apply flex flex-col items-start;
}

.form-body__label--custom-variant {
    font-family: 'Cormorant Infant';

    font-size: 1.5vw;

    @media (max-width: 768px) {
        font-size: 4.5vw;
    }
}

.form-body__input--text {
    background: none;
    border-bottom-width: 2px;
    border-color: var(--accent-color);
}

input:focus {
    outline:none;
    background-color: transparent;
}

.form-body__input--text:active-visible {
    background: none;
    border-bottom-width: 2px;
    border-color: var(--accent-color);
}

.control {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 11px;
    padding-top: 3px;
    cursor: pointer;
    /* font-size: 16px; */
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 3px;
    left: 0;
    height: 30px;
    width: 30px;
    border: 2px solid var(--accent-color);
    border-radius: 0px;
    opacity: 0.75;
}

.control:hover input~.control_indicator {
    opacity: 1;
}

.control input:checked~.control_indicator {
    opacity: 1;
}

.control:hover~.control_indicator {
    background-color: rgb(from var(--accent-color) r g b / 60%);
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 9px;
    top: -12px;
    width: 10px;
    height: 28px;
    border: solid var(--accent-color);
    border-width: 0 5px 3px 0;
    transform: rotate(30deg);
}

.control-checkbox input:disabled~.control_indicator:after {
    border-color: #7b7b7b;
}

.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 2.598rem;
    height: 3.286rem;
    margin-left: -1.763rem;
    margin-top: -1.469rem;
    background: #afacac;
    border-radius: 3rem;
    opacity: 0.5;
    z-index: 99999;
    transform: scale(0);
}

@keyframes s-ripple {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes s-ripple-dup {
    0% {
        transform: scale(0);
    }

    30% {
        transform: scale(1);
    }

    60% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.hideText {
    @apply hidden;
}
