/* --- сердечки на фоне конферта --- */
* {
    padding: 0;
    margin: 0;
}

.heart-container {
    /* background-image: url(images\hand.jpg) no-repeat; */
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.heart-container img {

    height: 100vh;
    width: 100vw;

}

.fa-heart {
    font-size: 0%;
    /* color: red; */
    position: absolute;
    bottom: -100px;
    animation: heart 5s linear infinite;
    max-width: 32px;
}

@keyframes heart {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        bottom: 100%;
        opacity: 0;
    }
}

/*YOU CAN SET EVERY HEART POSITION AND DELAY AS YOU LIKE*/
.fa-heart:nth-child(2n) {
    left: 10%;
    animation-delay: 1s;
}

.fa-heart:nth-child(3n) {
    left: 20%;
    animation-delay: 1.6s;
}

.fa-heart:nth-child(4n) {
    left: 30%;
    animation-delay: 2s;
}

.fa-heart:nth-child(5n) {
    left: 40%;
    animation-delay: 0.6s;
}

.fa-heart:nth-child(6n) {
    left: 50%;
    animation-delay: 1.1s;
}

.fa-heart:nth-child(7n) {
    left: 60%;
    animation-delay: 1.7s;
}

.fa-heart:nth-child(8n) {
    left: 70%;
    animation-delay: 3.5s;
}