/* план работ:  */
/* 1. Конверт и анимация открытия. Анимация страницы +  */
/* 2. Приветствие */
/* 3. Время */
/* 4. Дресс-код  */
/* 5. Место  */

@import "./index.css";

@import "./fonts.css";
@import "./convert.css";
@import "./hearts.css";
@import "./timer.css";
@import "./dresscode.css";
@import "./form.css";

:root {
  --main-theme-color: #fcf8ee;
  --light-theme-color: #f3f3f3;
  --accent-color: #820201;
  --accent-dark-color: #1e222b;

  --section-color-first: rgb(from var(--main-theme-color) r g b);
  --section-color-second: rgb(from var(--accent-color) r g b);
  /* --section-color-first: rgb(from var(--main-theme-color) r g b / 80%);
  --section-color-second: rgb(from var(--accent-color) r g b / 70%); */

  --convert-theme-clear: #780201;
  --convert-theme-darkened: #8c0201;
  --convert-theme-ground: #820201;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: var(--main-theme-color);
  /* Изменил на цвет нашего фона сайта */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* font-family: 'Cormorant Infant', 'Arial', sans-serif; */
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 500;

  font-size: 1.8vw;

  @media (max-width: 768px) {
    font-size: 3.6vw;
  }

  @media (min-width: 1000px) {
    font-size: 1.2vw;
  }
}

.stamp_img {
    @media (max-width: 800px) {
      max-height: 40%;
    }
  }

#main-page {
  @apply pergament;
  overflow: hidden;
  /* display: none; */
  opacity: 0;
}

@utility neomorfic {
  border: none;
  border-radius: 50px;
  box-shadow: 7px 7px 14px #b1aea7,
    -7px -7px 14px #ffffff;
}

@utility pergament {
  backdrop-filter: blur(9px);
  /* backdrop-filter: blur(25px); */
  /* background-color: rgba(173, 52, 52, 0.6); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  /* border-radius: 10px; */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

/* TODO ONLY TEST всратые сердца на фоне */
/* body {
  background-image: url('https://effects1.ru/gallery/Klipart/2-Prazdnik/serdechki/serdechko-25-0.png');
  background-repeat: repeat;
  animation: body-test 1000s linear infinite;
}

@keyframes body-test {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: -40000px;
  }
} */

@utility font-nice {
  font-family: 'Denistina', 'Cormorant Infant', 'Arial', sans-serif;
  font-weight: 400;
}

@utility font-ligatured {
  font-family: 'Cormorant Infant', 'Arial', sans-serif;
  font-weight: 400;
}

@utility font-usual {
  font-family: 'Cormorant Infant', 'Arial', sans-serif;
  font-weight: 400;
}

.section {
  @apply flex flex-col items-center mx-auto content-between w-full;
  /* @apply neomorfic; */
  /* @apply pergament; */

  /* width: 60%; */

  .section__header {
    @apply text-center;

    font-family: 'Denistina', 'Cormorant Infant', 'Arial', sans-serif;
    font-weight: 400;

    font-size: 4.15vw;

    @media (max-width: 768px) {
      font-size: 8.3vw;
    }

    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .section__subtitle {
    @apply text-center;
    font-family: 'Montserrat';
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .section__subtitle-cormorant {
    @apply text-center;
    font-family: 'Cormorant Infant';
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 3.15vw;

    @media (max-width: 768px) {
      font-size: 8.3vw;
    }
  }

  &.section--type-first {
    color: black;
    background-color: var(--section-color-first);
    padding-inline: 0%;
    padding-top: 0%;
    padding-bottom: 0%
  }

  &.section--type-second {
    color: white;
    background-color: var(--section-color-second);
    padding: 0;
  }

  .button-neo-white {
    @apply text-center;
    border-radius: 40px;
    font-size: 3.2vw;

    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;

    align-items: center;
    border: none;

    background: #820201;
    color: #fcf8ee;
    /* box-shadow: 20px 20px 60px #968988,
      -20px -20px 60px #cab9b8; */

    @media (min-width: 1000px) {
      font-size: 1.2vw;
    }
  }

  .button-big {
    @apply text-center;
    width: 100%;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 2rem;
    padding-right: 2rem;

    @media (min-width: 1000px) {
      font-size: 1.2vw;
    }
  }

  .button-neo-red {
    @apply text-center;
    border-radius: 40px;
    background: #820201;
    box-shadow: 20px 20px 58px #5b0101,
      -20px -20px 58px #a90301;

    @media (min-width: 1000px) {
      font-size: 1.2vw;
    }
  }

  .round {
    border-radius: 200px;

    width: 50%;
    height: 50%;
  }

  .button-contact {
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
  }

  /* &.section--type-third {
    @apply section--type-second;
    padding-inline: 0%;
    padding-top: 0%;
    padding-bottom: 0%
  } */

  &.section--delimiter {
    min-height: 2rem;
  }

  &.section--collage {
    @apply flex flex-row justify-between;

    max-height: auto;
    justify-content: center;
    align-items: center;
  }

  &.section--calendar {
    max-height: auto;
    justify-content: center;
    align-items: center;
  }

  &.section--photo {
    max-height: auto;
    justify-content: left;
    align-items: left;
  }

  &.section--map {
    max-height: auto;
    justify-content: right;
    align-items: right;
  }
}

.button:hover {
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(2px);
}

.collage__wrapper {
  max-width: 60%;
}

.calendar__wrapper {
  /* @apply flex flex-col items-center; */

  /* min-width: 50%; */
  /* font-weight: 400; */
  /* font-family: 'Montserrat'; */

  /* .calendar__header {
    font-size: 1.3rem;
    margin-bottom: 10px;
  } */

  .calendar {
    clip-path: polygon()
      /* @apply grid text-right grid-cols-7;

    column-gap: 0.9rem;
    row-gap: 0.6rem;
    width: fit-content;
    color: gray;

    div:first-child {
      grid-column: 5;
    }

    &.calendar--1 {
      @apply grid-rows-5;

      div:nth-child(7n+2) {
        color: black;
      }

      div:nth-child(7n+3) {
        color: black;
      }
    } */
  }
}

.accent {
  background-color: var(--section-color-second);
  height: 2px;
  padding-inline: 0%;
  padding-top: 0%;
  padding-bottom: 0%
}

.accent-text {
  color: var(--section-color-second);
  padding-inline: 0%;
  padding-top: 0%;
  padding-bottom: 0%
}

.list {
  display: flex;
  gap: 24px;
  max-width: 100%;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding-inline-start: 28px;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  @media (max-width: 768px) {
    min-height: 50%;
  }
}

.card {
  width: 40%;
  height: auto;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15),
    0px 0px 5px 0px rgba(23, 24, 24, 0.05);
  flex-shrink: 0;
  flex-grow: 1;
  border: none;
  box-shadow: 7px 7px 14px #b1aea7,
    -7px -7px 14px #ffffff;

  scroll-snap-align: start;
  scroll-snap-stop: always;

  @media (max-width: 768px) {
    min-width: 100%;
  }
}

strong {
  font-weight: 700;
  font-size: 1.25rem;
}

.buttons {
  margin-top: 16px;
  display: flex;
  gap: 8px;
  justify-content: flex-end;

  button {
    all: unset;
    line-height: 0;
    color: rgb(79, 70, 229);
    padding: 8px;
    height: 10%;

    &:hover:not(:disabled) {
      cursor: pointer;
      background-color: rgb(241, 245, 249);
    }

    &:focus-visible {
      outline: 1px solid blue;
      outline-offset: 2px;
    }

    &:active:not(:disabled) {
      transform: scale(0.95);
    }

    &:disabled {
      svg {
        color: grey;
      }
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.prevBtn {
  background-color: none;
  background: none;
}

.round-button {
  border-radius: 200%;
}

.little-text {
  font-size: 1rem;
}

*:focus {
  outline: 0;
}

.carousel-cell {
  width: 30%;
  height: max-content;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
  filter: sepia(30%);
  border-radius: 50px;
  box-shadow: 20px 20px 73px #a8a8a8,
    -20px -20px 73px #ffffff;

  @media (max-width: 768px) {
    width: 80%;
  }
}