/* план работ:  */
/* 1. Конверт и анимация открытия. Анимация страницы +  */
/* 2. Приветствие */
/* 3. Время */
/* 4. Дресс-код  */
/* 5. Место  */

@import "./index.css";

@import "./fonts.css";
@import "./convert.css";
@import "./hearts.css";
@import "./timer.css";
@import "./dresscode.css";

:root {
  --main-theme-color: #fcf8ee;
  --light-theme-color: #f3f3f3;
  --accent-color: #820201;
  --accent-dark-color: #1e222b;

  --section-color-first: rgb(from var(--main-theme-color) r g b);
  --section-color-second: rgb(from var(--accent-color) r g b);
  /* --section-color-first: rgb(from var(--main-theme-color) r g b / 80%);
  --section-color-second: rgb(from var(--accent-color) r g b / 70%); */

  --convert-theme-clear: #780201;
  --convert-theme-darkened: #8c0201;
  --convert-theme-ground: #820201;
}

body {
  background-color: var(--main-theme-color);
  /* Изменил на цвет нашего фона сайта */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* font-family: 'Cormorant Infant', 'Arial', sans-serif; */
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 500;

  font-size: 1.8vw;

  @media (max-width: 768px) {
    font-size: 3.6vw;
  }

  @media (min-width: 1000px) {
    font-size: 1.2vw;
  }
}

main{
  @apply pergament;
}

@utility neomorfic {
  border: none;
  border-radius: 50px;
  box-shadow: 7px 7px 14px #b1aea7,
    -7px -7px 14px #ffffff;
}

@utility pergament {
  backdrop-filter: blur(9px);
  /* backdrop-filter: blur(25px); */
  /* background-color: rgba(173, 52, 52, 0.6); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  /* border-radius: 10px; */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

/* TODO ONLY TEST всратые сердца на фоне */
/* body {
  background-image: url('https://effects1.ru/gallery/Klipart/2-Prazdnik/serdechki/serdechko-25-0.png');
  background-repeat: repeat;
  animation: body-test 1000s linear infinite;
}

@keyframes body-test {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: -40000px;
  }
} */

@utility font-nice {
  font-family: 'Denistina', 'Cormorant Infant', 'Arial', sans-serif;
  font-weight: 400;
}

@utility font-ligatured {
  font-family: 'Cormorant Infant', 'Arial', sans-serif;
  font-weight: 400;
}

@utility font-usual {
  font-family: 'Cormorant Infant', 'Arial', sans-serif;
  font-weight: 400;
}

/* .test-1 {
  border-radius: 10px;
  border: none;
  background-color: #1e222b;
  color: white;
} */

.section {
  @apply flex flex-col items-center mx-auto content-between w-full;
  /* @apply neomorfic; */
  /* @apply pergament; */

  /* width: 60%; */

  padding-inline: 5vw;
  padding-top: 2vh;
  padding-bottom: 3vh;

  .section__header {
    @apply text-center;


    font-family: 'Denistina', 'Cormorant Infant', 'Arial', sans-serif;
    font-weight: 400;

    font-size: 4.15vw;

    @media (max-width: 768px) {
      font-size: 8.3vw;
    }

    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .section__subtitle {
    @apply text-center;
    font-family: 'Montserrat';
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .section__subtitle-cormorant {
    @apply text-center;
    font-family: 'Cormorant Infant';
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 3.15vw;
    @media (max-width: 768px) {
      font-size: 8.3vw;
    }
  }

  &.section--type-first {
    color: black;
    background-color: var(--section-color-first);
    padding-inline: 0%;
    padding-top: 0%;
    padding-bottom: 0%
  }

  &.section--type-second {
    color: white;
    background-color: var(--section-color-second);
    padding: 0;
  }

  .button-neo-white {
    @apply text-center;
    border-radius: 50px;
    background: linear-gradient(145deg, #bcacab, #9e9190);
    box-shadow:  20px 20px 60px #968988,
                 -20px -20px 60px #cab9b8;
                 @media (min-width: 1000px) {
                  font-size: 1.2vw;
                }
  }

  .button-big {
    @apply text-center;
    width: 100%;
    height: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    @media (min-width: 1000px) {
      font-size: 1.2vw;
    }
  }

  .button-neo-red {
    @apply text-center;
    border-radius: 40px;
    background: #820201;
    box-shadow:  20px 20px 58px #5b0101,
                 -20px -20px 58px #a90301;
                 @media (min-width: 1000px) {
                  font-size: 1.2vw;
                }
  }

  .round {
    border-radius: 200px;
    
    width: 70%;
    height: 70%;
  }

  .button-contact {
    width: 3rem;
    height: 3rem;
  }

  /* &.section--type-third {
    @apply section--type-second;
    padding-inline: 0%;
    padding-top: 0%;
    padding-bottom: 0%
  } */

  &.section--collage {
    @apply flex flex-row justify-between;

    max-height: auto;
    justify-content: center;
    align-items: center;
  }

  &.section--calendar {
    max-height: auto;
    justify-content: center;
    align-items: center;
  }

  &.section--photo {
    max-height: auto;
    justify-content: left;
    align-items: left;
  }

  &.section--map {
    max-height: auto;
    justify-content: right;
    align-items: right;
  }
}

.collage__wrapper {
  max-width: 60%;
}

.calendar__wrapper {
  /* @apply flex flex-col items-center; */

  /* min-width: 50%; */
  /* font-weight: 400; */
  /* font-family: 'Montserrat'; */

  /* .calendar__header {
    font-size: 1.3rem;
    margin-bottom: 10px;
  } */

  .calendar {
    clip-path: polygon()
      /* @apply grid text-right grid-cols-7;

    column-gap: 0.9rem;
    row-gap: 0.6rem;
    width: fit-content;
    color: gray;

    div:first-child {
      grid-column: 5;
    }

    &.calendar--1 {
      @apply grid-rows-5;

      div:nth-child(7n+2) {
        color: black;
      }

      div:nth-child(7n+3) {
        color: black;
      }
    } */
  }
}

form {
  @apply flex flex-col items-center;

  .form-body {
    @apply flex flex-col;

    background-color: var(--light-theme-color);

    padding-left: 0.8rem;
    padding-right: 1.4rem;
    padding-top: 1.2rem;
    padding-bottom: 1.7rem;

    border-radius: 5px;

    .form-body__field {
      @apply flex flex-col;

      font-size: 1.875vw;
      line-height: 10px;

      .form-body__label {
        color: black;
        margin-bottom: 8px;
      }

      .form-body__input--text {
        background: none;
        border-bottom-width: 1px;
        border-color: black;
        margin-left: 0.7rem;

        &:focus-visible {
          /* todo */
        }
      }
    }
  }
}

.welcome {
  @apply flex w-full h-full overflow-hidden;
  /* TODO Временно, пока не доработан конверт */
  @apply hidden;
}


.accent {
  background-color: var(--section-color-second);
  height: 2px;
  padding-inline: 0%;
  padding-top: 0%;
  padding-bottom: 0%
}

.accent-text {
  color: var(--section-color-second);
  padding-inline: 0%;
  padding-top: 0%;
  padding-bottom: 0%
}

/* ------- Анкета  */

.button {
  background: var(--accent-color);
  border-radius: 40px;
  font-size: 4vw;
  color: white;

  width: 70%;
  height: 3.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 4vw;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  background: var(--convert-theme-ground);
  border: 1px solid #afacac;
  border-radius: 0px;
  opacity: 0.75;
}

.control:hover input~.control_indicator {
  opacity: 1;
}

.control input:checked~.control_indicator {
  opacity: 1;
}

.control:hover input:not([disabled]):checked~.control_indicator,
.control input:checked:focus~.control_indicator {
  background: var(--convert-theme-ground);
}

.control input:disabled~.control_indicator {
  background: #e6e6e6;
  opacity: 14;
  pointer-events: none;
}

.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.control input:checked~.control_indicator:after {
  display: block;
}

.control-checkbox .control_indicator:after {
  left: 6px;
  top: 0px;
  width: 4px;
  height: 12px;
  border: solid #afacac;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.control-checkbox input:disabled~.control_indicator:after {
  border-color: #7b7b7b;
}

.control-checkbox .control_indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 2.598rem;
  height: 3.286rem;
  margin-left: -1.763rem;
  margin-top: -1.469rem;
  background: #afacac;
  border-radius: 3rem;
  opacity: 0.5;
  z-index: 99999;
  transform: scale(0);
}

@keyframes s-ripple {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes s-ripple-dup {
  0% {
    transform: scale(0);
  }

  30% {
    transform: scale(1);
  }

  60% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.control-checkbox input+.control_indicator::before {
  animation: s-ripple 250ms ease-out;
}

.control-checkbox input:checked+.control_indicator::before {
  animation-name: s-ripple-dup;
}