.timer__wrapper {
    .timer {
        @apply grid grid-cols-7 justify-center text-center;

        font-weight: 500;
        font-family: 'Montserrat';
        font-size: 2.7vw;
        column-gap: 0.5rem;

        width: fit-content;

        @media (max-width: 768px) {
            font-size: 5.4vw;
        }

        .timer__item {
            position: relative;
        }

        .timer__item::before {
            content: attr(data-title);
            display: block;
            position: absolute;
            bottom: -0.5rem;
            left: 50%;
            transform: translateX(-50%);
            font-size: 0.9vw;

            @media (max-width: 768px) {
                font-size: 1.8vw;
            }
        }
    }
}